streamlit
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-openai
chromadb
pymupdf
tiktoken
pandas
presidio-analyzer
presidio-anonymizer
upstash-redis
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl